@use "../globals/margin";
@use "../globals/colors" as *;
@use "../globals/fonts" as *;

///Import components
//Navbar
@forward "../components/navbar";
//Footer
@forward "../components/footer";

.about {
  width: 874px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 90vw;
    padding: 0 16px;
    margin-top: 24px;
  }

  &__title {
    font-family: map-get($fonts, "Montserrat");
    font-size: 44px;
    color: map-get($colors, "TextColor");
  }

  &__paragraph {
    padding-top: 32px;
    font-family: map-get($fonts, "ZillaSlab");
    color: map-get($colors, "TextColor");
    font-weight: 400;
    font-size: 16px;
  }
}

.experience {
  width: 874px;
  margin: 0 auto;
  margin-top: 60px;

  @media (max-width: 768px) {
    width: 90vw;
    padding: 0 16px;
  }

  &__title {
    color: map-get($colors, "Coral");
    font-family: map-get($fonts, "Montserrat");
    font-weight: 400;
    font-size: 22px;
  }

  .expblock {
    margin-top: 32px;
    width: 100%;
    padding-bottom: 29px;
    border-bottom: 1px solid #e0e0e0;

    &__where {
      color: map-get($colors, "TextColor");
      font-weight: 700;
      font-size: 28px;
      font-family: map-get($fonts, "Montserrat");
      padding-bottom: 16px;

      @media (max-width: 768px) {
        font-size: 22px;
      }
    }

    &__when {
      font-family: map-get($fonts, "Montserrat");
      font-style: normal;
      font-size: 20px;
      color: map-get($colors, "DarkColor");
      line-height: 24px;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__detail {
      font-family: map-get($fonts, "ZillaSlab");
      color: map-get($colors, "TextColor");
      font-size: 16px;
      font-weight: 400;
      padding-top: 15px;
    }
  }
}

.education {
  width: 874px;
  margin: 0 auto;
  margin-top: 60px;

  @media (max-width: 768px) {
    width: 90vw;
    padding: 0 16px;
  }

  &__title {
    color: map-get($colors, "Coral");
    font-family: map-get($fonts, "Montserrat");
    font-weight: 400;
    font-size: 22px;
  }

  .edublock {
    margin-top: 32px;
    width: 100%;
    padding-bottom: 29px;
    border-bottom: 1px solid #e0e0e0;

    &__where {
      color: map-get($colors, "TextColor");
      font-weight: 700;
      font-size: 28px;
      font-family: map-get($fonts, "Montserrat");
      padding-bottom: 16px;

      @media (max-width: 768px) {
        font-size: 22px;
      }
    }

    &__when {
      font-family: map-get($fonts, "Montserrat");
      font-style: normal;
      font-size: 20px;
      color: map-get($colors, "DarkColor");
      line-height: 24px;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__detail {
      font-family: map-get($fonts, "ZillaSlab");
      color: map-get($colors, "TextColor");
      font-size: 16px;
      font-weight: 400;
      padding-top: 15px;
    }
  }
}
